#root {
    margin: 0 auto;
    text-align: center;
    overflow: clip;
}

.page__wrap {
    min-height: 100%;
    position: relative;

    &::before {
        filter: blur(38.78632736206055px);
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30%;
        max-height: 100vh;
        background-image: url("./assets/Background.svg");
        background-repeat: no-repeat;
        background-position: calc(50% - 50px) 10%;
        z-index: -1;
        background-size: calc(cover - 500px);
        transform: translate3d(0, 0, 0);
    }
}

body {
    position: relative;

    height: 100%;
}
